**/bin/
**/obj/
**/out/
**/.vs/
**/.vscode/
**/*.user

**/node_modules/
**/packages/
**/bower_components/

**/*.env
**/*.env.*
**/appsettings.*.json

**/.git/
**/.gitignore
**/.gitattributes

**/build/
**/dist/
**/logs/
**/*.log

**/*.tmp
**/*.temp
**/*~

**/TestResults/
**/*.trx
**/*.coverage 